<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="w-full h-screen bg-zinc-900 text-white p-10">

    <a href="/" class="text-blue-700">go to register</a>
    <h1 class="text-3xl mb-5">Login user</h1>
    <form method="post" action="/login">
      <input class="px-3 py-2 rounded-md bg-transparent border-2" type="email" name="email" id="email" placeholder="email">
      <input class="px-3 py-2 rounded-md bg-transparent border-2" type="password" name="password" id="password" placeholder="password">
      <input class="px-3 py-2 rounded-md bg-blue-700 border-2" type="submit" value="Login User">
    </form>

  </div>

  
</body>
</html>